# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**
* List of popular languages for Data Science
* List of popular libraries for Data Science
* List of popular open-source development environment tools for Data Science
* Evaluating basic arithmetic expressions in Python
* Converting minutes to hours

**Exercise 4 - Create a markdown cell to list data science languages**

1. R
2. Python
3. Scala
4. Julia
5. Java

**Exercise 5 - Create a markdown cell to list data science libraries**

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. Tensorflow

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
|------------------|
|Jupyter Notebook / JupyterLab|
|RStudio|
|Spyder|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers**

In [3]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [4]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author
Muhammad Fitri Bin Mohd Hisham